---
import Layout from "@/layouts/Layout.astro";
---

<Layout>
  <main class="Homepage">
    <header class="Greeting">
      <h1 class="Headline">From effort to outcome,<br />from outcome to impact.</h1>
      <p class="Intro">
        Probably brings the entire flow of your business in one place, integrating your project managment, engagement tracking, and business reporting data together to give you an end-to-end picture of the health of your business.
      </p>
    </header>
    <form class="Signup_form" id="signup">
      <h2 class="Signup_headline">Join the waitlist now for beta access and discounted pre-launch pricing.</h2>
      <input class="Email" type="email" name="email" required />
      <button class="Submit" type="submit">Join the waitlist</button>
      <div class="Subscribe">
        <input type="checkbox" name="subscribe" />
        <label for="subscribe">Send me updates on how Probably is coming together. (We promise not to flood your inbox)</label>
      </div>
    </form>
  </main>

  <script>
    import { actions } from "astro:actions";
    const form = document.querySelector("#signup");
    form?.addEventListener("submit", async (event) => {
      event.preventDefault();
      const formData = new FormData(form);
      const { error } = await actions.signUp(formData);
    });
  </script>
</Layout>

<style>
  .Homepage {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: "greeting ." "greeting ." "form .";
    grid-gap: 1rem;
    padding: 2rem;
    background-color: var(--color-background);
    color: var(--color-text);
    margin: 1rem;
    min-height: calc(100vh - 2rem);
  }

  .Greeting {
    grid-area: greeting;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-content: start;
  }

  .Headline {
    font-family: "freightdispcmp-pro", serif;
    font-weight: 400;
    font-size: 6rem;
    line-height: 0.9;
    margin: 0;
    padding-block-end: 0.3em;
  }

  .Intro {
    grid-column: 1 / 5;
    grid-row: 3 / 4;
    font-weight: 200;
    font-size: 1.5rem;
    line-height: normal;
    margin: 0;
  }

  .Signup_form {
    grid-area: form;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-areas: "headline headline headline" "email email submit" "subscribe subscribe subscribe";
    grid-auto-rows: auto;
    gap: 1rem 0;
    font-weight: 200;
    font-size: 1.25rem;
    line-height: normal;
    margin: 0;
  }

  .Signup_headline {
    grid-area: headline;
    font-family: "freightdispcmp-pro", serif;
    font-weight: 400;
    font-size: 3rem;
    line-height: 1;
    height: min-content;
    text-wrap: balance;
    margin: 0;
  }

  .Email {
    grid-area: email;
    font: normal 400 1.25rem/1 "freight-sans-pro";
    padding-inline: 1.25rem;
    background: var(--color-background);
    color: var(--color-text);
    border: var(--border);
    &:focus {
      background-color: white;
    }
  }

  .Submit {
    position: relative;
    grid-area: submit;
    font: normal 400 1.25rem/1 "freight-sans-pro";
    padding-inline: 1.25rem;
    background: var(--color-text);
    color: var(--color-background);
    border: var(--border);
    cursor: pointer;
    &::after {
      --inset: 4px;
      content: "";
      position: absolute;
      top: var(--inset);
      bottom: var(--inset);
      left: var(--inset);
      right: var(--inset);
      border: 0px solid white;
    }
    &:hover::after {
      border-width: 1px;
    }
    &:focus::after {
      border-width: 2px;
    }
  }

  .Subscribe {
    grid-area: subscribe;
    display: flex;
    flex-flow: row nowrap;
    align-items: baseline;
    gap: 1rem;
  }

  input[type="checkbox"] {
    display: block;
    appearance: none;
    height: 1.5rem;
    width: 1.5rem;
    background-color: var(--color-background);
    color: var(--color-text);
    border: var(--border);
    &:checked {
      background-color: var(--color-text);
    }
  }

  .Subscribe label {
    display: block;
  }
</style>
