---
import Layout from "@/layouts/Layout.astro"
---
<Layout>
  <header class="Greeting">
    <h1 class="Headline">From effort to outcome,<br />from outcome to impact.</h1>
    <p class="Intro">Probably brings the entire flow of your business in one place, integrating your project managment, engagement tracking, and business reporting data together to give you an end-to-end picture of the health of your business.</p>
    <div class="image-cell gantt">gantt</div>
    <div class="image-cell pie">pie</div>
    <div class="image-cell column">column</div>
    <div class="image-cell line">line</div>
  </header>
  <section class="Feature reverse">
    <h2 class="Feature_headline"><span class="eyebrow">Effort</span> Manage timelines and projects that set priorities across your business.</h2>
    <p class="Feature_description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <div class="Feature_image"></div>
  </section>
  <section class="Feature">
    <h2 class="Feature_headline"><span class="eyebrow">Outcomes</span> Observe signals and measure outcomes by integrating leading analytics platforms.</h2>
    <p class="Feature_description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <div class="Feature_image"></div>
  </section>
  <section class="Feature reverse">
    <h2 class="Feature_headline"><span class="eyebrow">Impact</span> Measure the impact your effort and outcomes have on what matters at the end of the day— your top and bottom lines.</h2>
    <p class="Feature_description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <div class="Feature_image"></div>
  </section>
  <section class="Signup">
    <h2 class="Signup_headline"><span class="eyebrow">Get started</span> Join the waitlist now for beta access and discounted pre-launch pricing.</h2>
    <form class="Signup_form Form">
      <div class="Form_field integrated">
        <input class="Input" type="text" />
        <button class="Button">Join the waitlist</button>
        <label class="Checkbox_label">
          <input type="checkbox"/>
          Send me updates on how Probably is coming together. (We promise not to flood your inbox)
        </label>
      </div>
      

    </form>
    <div class="Signup_image"></div>
  </section>
</Layout>

<style>

.Greeting {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 1rem;
  justify-content: center;
  padding: 1rem;
  grid-auto-rows: 1fr;
  background-color: var(--color-background);
  color: var(--color-text);
  margin: 3rem 3rem 1rem;
}

.Headline {
  grid-column: 1 / 5;
  grid-row: 2 / 3;
  font-family: "freightdispcmp-pro", serif;
  font-weight: 400;
  font-size: 6rem;
  line-height: .9;
  margin: 0;
  padding-block-end: .3em;
  align-self: end;
  height: auto;
}

.Intro {
  grid-column: 1 / 5;
  grid-row: 3 / 4;
  font-weight: 200;
  font-size: 1.75rem;
  line-height: normal;
  margin: 0;
}

.todo {
  grid-column: 1/3;
  grid-row: 1/2;
}

.gantt {
  grid-column: 4/8;
  grid-row: 1/2;
}

.pie {
  grid-column: 7/8;
  grid-row: 2/3;
}

.column {
  grid-column: 5/7;
  grid-row: 2/3;
}

.line {
  grid-column: 6/8;
  grid-row: 3/4;
}

.image-cell {
  background-color: var(--color-text);
}

.Feature {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 1rem;
  justify-content: center;
  padding: 1rem;
  grid-auto-rows: 1fr;
  background-color: var(--color-background);
  color: var(--color-text);
  margin: 1rem 3rem;
  grid-template-areas: 
    "headline headline headline image image image image"
    "description description description image image image image";
  &.reverse {
    grid-template-areas: 
      "image image image image headline headline headline"
      "image image image image description description description";
  }
}

.Feature_headline {
  grid-area: headline;
  font-family: "freightdispcmp-pro", serif;
  font-weight: 400;
  font-size: 4rem;
  line-height: 1;
  margin: 0;
  padding-block-end: .3em;
  align-self: end;
  height: auto;
  .eyebrow {
    display: block;
    font-family: freight-text-pro;
    font-size: 1rem;
  }
}

.Feature_description {
  grid-area: description;
  font-weight: 200;
  font-size: 1.25rem;
  line-height: normal;
  margin: 0;
}

.Feature_image {
  grid-area: image;
  background-color: var(--color-text);
}


.Signup {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 1rem;
  justify-content: center;
  padding: 1rem;
  grid-auto-rows: 1fr;
  background-color: var(--color-background);
  color: var(--color-text);
  margin: 1rem 3rem;
  grid-template-areas: 
    "headline headline headline image image image image"
    "form form form image image image image";
}

.Signup_headline {
  grid-area: headline;
  font-family: "freightdispcmp-pro", serif;
  font-weight: 400;
  font-size: 4rem;
  line-height: 1;
  text-wrap: balance;
  margin: 0;
  padding-block-end: .3em;
  align-self: end;
  height: auto;
  .eyebrow {
    display: block;
    font-family: freight-text-pro;
    font-size: 1rem;
  }
}

.Signup_form {
  grid-area: form;
  font-weight: 200;
  font-size: 1.25rem;
  line-height: normal;
  margin: 0;
}

.Signup_image {
  grid-area: image;
  background-color: var(--color-text);
}

</style>