---
import db from "../db"

console.log("db", db)

const projects = await db.query.project.findMany({
  with: {
    tasks: true,
  },
});

---

<h1>Tasks</h1>
<code><pre>{JSON.stringify(projects, null, 2)}</pre></code>

