---
const { ...props } = Astro.props;
---

<section class:list={["Section", props.class]} {...props}>
  <div class="Section_children">
    <slot />
  </div>
  <!-- <hr class="Section_rule"/> -->
</section>
<style>
.Section {
  display: grid;
  grid-template-columns: [l-gutter-start] minmax(2rem, auto) [l-gutter-end main-start] repeat(12, minmax(4rem, 8rem)) [main-end r-gutter-start] minmax(2rem, auto) [r-gutter-end];
  grid-auto-rows: auto;

  &::after {
    content: "";
    display: block;
    height: 4rem;
    grid-column: r-gutter-start / r-gutter-end;
    border-inline-start: var(--border);
    margin-inline-start: -1px;
  }
}

.Section_children {
  display: grid;
  grid-column: main-start / main-end;
  grid-template-columns: subgrid;
  grid-template-rows: subgrid;
  border-inline-start: var(--border);
}

/* .Section_rule {
  margin: 0;
  display: grid;
  grid-template-columns: subgrid;
  width: 100%;
  grid-column: 1 / -1;
  border-block: var(--border);
  border-inline: none;
  &::before {
    content: "";
    display: block;
    margin-inline-end: -1px;
    grid-column: l-gutter-start / l-gutter-end;
    border-inline-end: var(--border);
  }
  &::after {
    content: "";
    display: block;
    margin-inline-start: -1px;
    grid-column: r-gutter-start / r-gutter-end;
    border-inline-start: var(--border);
  }
} */
</style>