---
import Posthog from "../components/Posthog.astro"
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<link rel="stylesheet" href="https://use.typekit.net/vdb8kvd.css">
		<title>Probably</title>
		<Posthog />
	</head>
	<body>
		<slot />
	</body>
</html>

<style is:global>
	*,
	*::before,
	*::after { 
		box-sizing: border-box; 
	}	

	:root {
		--color-background: #f7f4ec;
		--color-text: #18273d;
		--border: 1px solid var(--color-text);
		/* --grid-columns: [l-gutter-start] minmax(2rem, auto) [l-gutter-end main-start] repeat(5, minmax(8rem, 18rem)) [main-end r-gutter-start] minmax(2rem, auto) [r-gutter-end]; */
		--grid-columns: repeat(7, minmax(8rem, 18rem));
		--grid-padding: 0 2rem;
	}

	html,
	body {
		margin: 0;
		font-family: freight-text-pro;
		font-optical-sizing: auto;
		background-color: var(--color-text);
		color: var(--color-background);
	}
</style>
